/* navigation header text color #444444 */

#id {
  background-color: #efefef;
}

.custom-panel-footer-right {
  text-align: right;
}

.custom-panel-footer-left {
  text-align: left;

}

 #wikipedialogo {
width: 100%;

 }
.custom-left {
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}
.custom-right {
  padding-left: 15px;
  padding-bottom: 15px;
  float: right;
}

.photo-caption {
  font-size: small;
  width: 100%;

}
