body {
  background: linear-gradient(white, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0);
}

.navpanel {
  margin-left: 30px;
  padding-top: 20px;
}

.nav-header {
  text-decoration: underline;
}


#news-header {
 border: solid red 1px;
}

#news-header-text {
  text-align: center;
}

#welcome-header {
  
}



.custom-panel-footer-right {
  text-align: right;
}

.custom-panel-footer-left {
  text-align: left;

}

 #wikipedialogo {
width: 100%;

 }
.custom-left {
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}
.custom-right {
  padding-left: 15px;
  padding-bottom: 15px;
  float: right;
}

.photo-caption {
  font-size: small;
  width: 100%;

  /* FIX TEXT WIDTH IF TIME ALLOWS */

}


.panel-green .panel-heading {
  background-color: #cef2e0;
}

.panel-green {
  background-color: transparent;
}

#content-column-1 {
  background-color: #f4fff9;
}


.panel-blue .panel-heading {
  background-color: #c9deff;
}

.panel-blue {
  background-color: transparent;
}

#content-column-2 {
  background-color: #f2f7ff;
}


.panel-purple .panel-heading {
  background-color: #edd6ff;
}

.panel-purple {
  background-color: transparent;
}

#content-column-3 {
  background-color: #f8efff;
}
